In [ ]:
# query the name table
# output from the taxonomy table

In [2]:
import sqlite3

#organism = '%' + str(sys.argv[1]) + '%'
query = '%' +'Cheese'+'%'

conn = sqlite3.connect('taxa.db3')
params = [query]
c = conn.cursor()
c.execute("""
    select * from name
    where name like ?
""", params)

id_set = {row[1] for row in c}

hits = []
for i in id_set:
    params = [i]
    c.execute("""
        select * from taxonomy
        where tax_id = ?
    """, params)
    for row in c:
        print(f'{row[1]} (taxid: {row[0]})')

In [39]:
hits

[(59492, 'Rubus ellipticus', 'species', 23216),
 (155754, 'Pachycladon latisiliqua', 'species', 106787),
 (155755, 'Pachycladon radicata', 'species', 106787),
 (106773, 'Pachycladon cheesemanii', 'species', 106787),
 (106774, 'Pachycladon fastigiata', 'species', 106787),
 (106775, 'Pachycladon wallii', 'species', 106787)]

In [21]:
id_set

{59492, 106773, 106774, 106775, 155754, 155755}

In [49]:
conn = sqlite3.connect('taxa.db3')
c = conn.cursor()
c.execute("""
    select * from name
    where name like 'D%'
    limit 10;
""")
for row in c:
    print(row[2])

Dictyoglomus
Dictyoglomus Saiki et al. 1985
Dictyoglomus thermophilum
Dictyoglomus thermophilum Saiki et al. 1985
Detoniella
Diplobacillus
Diplobacille de la conjonctivite subaigue
Diplobacillus moraxenfeld
Diplococcus gonorrhoeae
Diplokokkus intracellularis meningitidis

In [51]:
import sys
import sqlite3

#organism = str(sys.argv[1])
organism = 'D%'

conn = sqlite3.connect('taxa.db3')
params = [organism]
c = conn.cursor()
c.execute("""
    select name from name
    where name like ? and name_class = 'scientific name'
    limit 10;
""", params)
for row in c:
    print(row[0])

Dictyoglomus
Dictyoglomus thermophilum
Dichelobacter
Dichelobacter nodosus
Desulfovibrio
Desulfovibrio africanus
Desulfovibrio desulfuricans
Desulfovibrio fructosovorans
Desulfovibrio gigas
Desulfovibrio salexigens

In [43]:
conn = sqlite3.connect('taxa.db3')
c = conn.cursor()
c.execute('select * from name')
c.description

(('id', None, None, None, None, None, None),
 ('tax_id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('name_class', None, None, None, None, None, None))

In [35]:
conn = sqlite3.connect('taxa.db3')
#c = conn.cursor()
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print(name[0])

taxonomy
name

In [11]:
for i in c:
    print(i)

In [ ]:


select column_name from information_schema.columns where table_name='table'