In [2]:
import sqlite3

In [49]:
conn = sqlite3.connect('taxa.db3')
c = conn.cursor()
c.execute("""
    select * from name
    where name like 'D%'
    limit 10;
""")
for row in c:
    print(row[2])

Dictyoglomus
Dictyoglomus Saiki et al. 1985
Dictyoglomus thermophilum
Dictyoglomus thermophilum Saiki et al. 1985
Detoniella
Diplobacillus
Diplobacille de la conjonctivite subaigue
Diplobacillus moraxenfeld
Diplococcus gonorrhoeae
Diplokokkus intracellularis meningitidis

In [51]:
import sys
import sqlite3

#organism = str(sys.argv[1])
organism = 'D%'

conn = sqlite3.connect('taxa.db3')
params = [organism]
c = conn.cursor()
c.execute("""
    select name from name
    where name like ? and name_class = 'scientific name'
    limit 10;
""", params)
for row in c:
    print(row[0])

Dictyoglomus
Dictyoglomus thermophilum
Dichelobacter
Dichelobacter nodosus
Desulfovibrio
Desulfovibrio africanus
Desulfovibrio desulfuricans
Desulfovibrio fructosovorans
Desulfovibrio gigas
Desulfovibrio salexigens

In [43]:
conn = sqlite3.connect('taxa.db3')
c = conn.cursor()
c.execute('select * from name')
c.description

(('id', None, None, None, None, None, None),
 ('tax_id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('name_class', None, None, None, None, None, None))

In [35]:
conn = sqlite3.connect('taxa.db3')
#c = conn.cursor()
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print(name[0])

taxonomy
name

In [11]:
for i in c:
    print(i)

In [ ]:


select column_name from information_schema.columns where table_name='table'